body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

div {
    display: inline-block;
}

h1 {
    text-align: center;
}

h2 {
    
}

p {
    text-align: justify;
}

div#direito {
    width: 74%;
    height: -webkit-calc(100% - 20px);
}

div#direito img {
    width: 500px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#texto-principal {
    width: 500px;
    margin-left: 25%;
}

div#bloco1, #bloco2, #bloco3 {
    border-right: solid 1px;
    height: 100%;
    width: 32%;
    padding: 0;
}

div#bloco3 {
    float: right;
    margin-right: 24px;
    border-right: none;
    padding-top: 15px;
}

div#bloco1 {
    margin-left: 3px;
    float: left;
}

div#esquerdo{
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
    border-right: solid 1px;
